<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  <servlet-name>ReqServlet
  </servlet-name>
  <servlet-class>com.cts.ReqServlet
  </servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ReqServlet
  </servlet-name>
  <url-pattern>/ReqServlet
  </url-pattern>
  </servlet-mapping>
 </web-app>

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>LOGIN PAGE</title>
</head>
<body>
<form method="post"action="ReqServlet">
UserName:<input type="text" name="name"><br/>
<input type="submit" value="Click">
</form>
</body>
</html>
